.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--color-text-default);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.375;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s;

    &.disabled,
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5 !important;
    }

    &:hover {
        text-decoration: none;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
    }
}

.button-primary {
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);

    &:not(.disabled),
    &:not(:disabled) {
        &:hover {
            background-color: var(--color-primary-hover);
            border: 1px solid var(--color-primary-hover);
        }
    }
}

.button-border {
    color: var(--color-primary);
    background-color: #fff;
    border: 1px solid var(--color-primary);

    &:not(.disabled),
    &:not(:disabled) {
        &:hover {
            color: #fff;
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
        }
    }
}

.button-green {
    color: #fff;
    background-color: var(--color-success);
    border: 1px solid var(--color-success);

    &:not(.disabled),
    &:not(:disabled) {
        &:hover {
            background-color: var(--color-success-hover);
            border: 1px solid var(--color-success-hover);
        }
    }
}

.button-red {
    color: #fff;
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger);

    &:not(.disabled),
    &:not(:disabled) {
        &:hover {
            background-color: var(--color-danger-hover);
            border: 1px solid var(--color-danger-hover);
        }
    }
}

.button-sm {
    padding: 0.5rem 0.5rem;
}
