<tr>
    <td>
        <button class="button accordion-btn" title="展開表格">
            <span class="sr-only">展開表格</span>
        </button>
    </td>
    <td>{{ source.no }}</td>
    <td>
        <a href="" class="link-file">{{ source.file }}</a>
    </td>
    <td>{{ source.dataset }}</td>
</tr>

<tr class="detail-row">
    <td colspan="4" class="detail-cell">
        <div class="accordion-content">
            <table class="accordion-table">
                <tr>
                    <th>標題</th>
                    <td>{{ source.title }}</td>
                    <th>時間</th>
                    <td>{{ source.time }}</td>
                </tr>
                <tr>
                    <th>內容</th>
                    <td colspan="3">{{ source.content }}</td>
                </tr>
                <tr>
                    <th>備註1</th>
                    <td colspan="3">{{ source.note1 }}</td>
                </tr>
                <tr>
                    <th>備註2</th>
                    <td colspan="3">{{ source.note2 }}</td>
                </tr>
                <tr>
                    <th>參考資料</th>
                    <td colspan="3">{{ source.reference }}</td>
                </tr>
            </table>
        </div>
    </td>
</tr>
