<div class="pagination-input" data-total="{{ pagerTotal }}">
    <button type="button" class="pager-btn prev" disabled>
        <img src="./images/icon_arrow_left_blue.png" alt="上一頁" class="icon" />
    </button>

    <span class="pager-text">第</span>

    <input class="pager-input form-control" type="text" value="{{ pagerCurrent }}" />

    <span class="pager-text">個對話，共<span class="total"></span>個</span>

    <button type="button" class="pager-btn next">
        <img src="./images/icon_arrow_right_blue.png" alt="下一頁" class="icon" />
    </button>
</div>
