.form-table {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.form-table__subtitle {
    padding-bottom: var(--space-2);
    font-size: var(--text-md);
    font-weight: 600;
    text-align: left;
    color: var(--color-text-default);
}

.form-table__row {
    display: flex;
    flex-wrap: wrap;
}

.form-table__field {
    display: flex;
    width: 100%;
}

.form-table__field--half {
    width: 50%;
}

.form-table__field--third {
    width: 33.3333%;
}

.form-table__label {
    display: flex;
    align-items: center;
    width: 160px;
    min-width: 160px;
    padding: var(--space-2) 0.625rem;
    font-weight: 500;
    text-align: left;
    color: var(--color-text-default);
    border: 1px solid var(--color-border-default);
    background-color: var(--color-gray-300);
}

.form-table__value {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-1);
    flex-grow: 1;
    min-width: 0;
    padding: 0.5625rem 0.625rem;
    text-align: left;
    color: var(--color-text-default);
    border: 1px solid var(--color-border-default);
    background-color: var(--color-surface);
}

.form-table__icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .form-table__field--half,
    .form-table__field--third {
        width: 100%;
    }
}
