.block {
    padding: var(--space-6);
    background-color: var(--color-surface);
    border-radius: var(--radius-sm);
}

.block--sm {
    padding: var(--space-4);
    border-radius: 0;
}

.block--lg {
    padding: var(--space-10) var(--space-6);
    border-radius: var(--radius-md);
}
