<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="./images/favico.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="full-wrap">
        {{ content | safe }}
    </div>

    <script defer src="./js/modals.js"></script>
    <script defer src="./js/footer.js"></script>
    <script defer src="./js/mobile-nav.js"></script>
    <script defer src="./js/accordion.js"></script>
    <script defer src="./js/pagination-input.js"></script>
</body>

</html>
