.breadcrumb {
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;

        li {
            color: var(--color-text-dark);
            word-break: break-all;

            +li {
                &::before {
                    text-align: center;
                    color: var(--color-text-dark);
                    padding: 0 0.5rem;
                    content: "/";
                }
            }

            a {
                color: var(--color-text-dark);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
