.step-nodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    .step-node {
        width: 172px;
        min-width: 152px;
        padding: 10px 0 6px 0;
        box-sizing: border-box;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: rgba(19, 56, 111, 0.302);
        border-bottom: 4px solid rgba(19, 56, 111, 0.3);

        &.done {
            color: var(--color-primary-dark);
            border-bottom: 4px solid var(--color-primary-dark);
        }

        @media screen and (max-width: 1040px) {
            width: 152px;
        }
    }
}

.step-btn-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: 16px;
    }

    .button {
        flex-shrink: 0;

        &:last-child {
            @media screen and (max-width: 992px) {
                align-self: flex-end;
            }
        }
    }
}
