{% set pagerItemName = pagerItemName or "" %}
<div class="detail-pager">
    <button type="button" class="detail-pager__btn" {% if pagerCurrent <= 1 %}disabled{% endif %}>
        <img src="./images/icon_arrow_left_blue.png" alt="上一個" class="detail-pager__icon">
    </button>

    <span class="detail-pager__text">第</span>
    <input class="detail-pager__input" type="text" value="{{ pagerCurrent }}" aria-label="目前項目編號">
    <span class="detail-pager__text">個{{ pagerItemName }}，共 {{ pagerTotal }} 個</span>

    <button type="button" class="detail-pager__btn" {% if pagerCurrent >= pagerTotal %}disabled{% endif %}>
        <img src="./images/icon_arrow_right_blue.png" alt="下一個" class="detail-pager__icon">
    </button>
</div>
