<details class="source-row">
    <summary class="source-row__summary">
        <span class="source-row__toggle"></span>
        <span class="source-row__cell">{{ source.no }}</span>
        <span class="source-row__cell"><a href="#" class="link-file">{{ source.file }}</a></span>
        <span class="source-row__cell">{{ source.dataset }}</span>
    </summary>

    <div class="source-row__detail">
        <table class="source-row__detail-table">
            <tr>
                <th>標題</th>
                <td>{{ source.title }}</td>
                <th>時間</th>
                <td>{{ source.time }}</td>
            </tr>
            <tr>
                <th>內容</th>
                <td colspan="3">{{ source.content }}</td>
            </tr>
            <tr>
                <th>備註1</th>
                <td colspan="3">{{ source.note1 }}</td>
            </tr>
            <tr>
                <th>備註2</th>
                <td colspan="3">{{ source.note2 }}</td>
            </tr>
            <tr>
                <th>參考資料</th>
                <td colspan="3">{{ source.reference }}</td>
            </tr>
        </table>
    </div>
</details>
