/*html整頁用*/
@mixin scrollbar() {

    /* width */
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        // background-color: #CBCBCB;
        background-color: var(--color-primary-dark);
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: transparent;

    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    /*某些元素的corner部分的部分样式(例:textarea的可拖动按钮)*/
    &::-webkit-resizer {
        background-color: transparent;
        border-color: transparent;

    }

    /*firefox scrollbar*/
    scrollbar-width: thin;
    // scrollbar-color: #CBCBCB transparent;
    scrollbar-color: var(--color-primary-dark) transparent;
}

/*元件用，滾動條較細*/
@mixin scrollbar_thin() {

    /* width */
    &::-webkit-scrollbar {
        width: 4px;
        height: 6px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--color-gray-500);
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: transparent;

    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    /*某些元素的corner部分的部分样式(例:textarea的可拖动按钮)*/
    &::-webkit-resizer {
        background-color: transparent;
        border-color: transparent;

    }

    /*firefox scrollbar*/
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-500) transparent;
}

@mixin scrollbar_modal() {

    /* width */
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--color-gray-500);
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: transparent;

    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    /*某些元素的corner部分的部分样式(例:textarea的可拖动按钮)*/
    &::-webkit-resizer {
        background-color: transparent;
        border-color: transparent;

    }

    /*firefox scrollbar*/
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-500) transparent;
}
